@import "../../helpers/variables.scss";

.time {
  float: right;
  width: 50%;
  cursor: pointer;
  white-space: nowrap;
  padding: 5px 3px;
  box-sizing: border-box;
  text-align: center;
  height: 28px;

  &:hover {
    background: #efefef;
  }

  &_disabled {
    cursor: not-allowed;
    background: #efefef;

    &:hover {
      background: #efefef;
    }
  }

  &_reserved {
    background: #cbcbcb;
    color: #ffffff;

    &:hover {
      background: #cbcbcb;
    }

    .time__plus {
      display: none;
    }
  }

  &:nth-child(odd) {
    float: left;
  }
}
