.time {
  float: right;
  width: 50%;
  cursor: pointer;
  white-space: nowrap;
  padding: 5px 3px;
  box-sizing: border-box;
  text-align: center;
  height: 28px; }
  .time:hover {
    background: #efefef; }
  .time_disabled {
    cursor: not-allowed;
    background: #efefef; }
    .time_disabled:hover {
      background: #efefef; }
  .time_reserved {
    background: #cbcbcb;
    color: #ffffff; }
    .time_reserved:hover {
      background: #cbcbcb; }
    .time_reserved .time__plus {
      display: none; }
  .time:nth-child(odd) {
    float: left; }
