.app {
  padding: 20px;
  overflow: hidden; }
  @media (max-width: 1000px) {
    .app {
      padding: 10px; } }
  @media (max-width: 750px) {
    .app {
      padding: 10px; } }
  .app__sidebar {
    float: left;
    width: 15%; }
    @media (max-width: 1000px) {
      .app__sidebar {
        width: 13%; } }
    .app__sidebar-title {
      padding-left: 20px;
      line-height: 35px;
      box-sizing: border-box;
      margin-bottom: 38px; }
      @media (max-width: 750px) {
        .app__sidebar-title {
          visibility: hidden; } }
  .app__content {
    float: left;
    width: 85%; }
    @media (max-width: 1000px) {
      .app__content {
        width: 87%; } }
    .app__content-calendar {
      overflow: hidden; }
      @media (max-width: 750px) {
        .app__content-calendar {
          overflow: auto; } }
