.switcher {
  background: #efefef;
  position: relative;
  line-height: 35px;
  text-align: center;
  text-transform: capitalize;

  &__button {
    position: absolute;
    cursor: pointer;
    top: 0;

    &_prev {
      left: 0;
    }

    &_next {
      right: 0;
    }

    &-icon {
      width: 32px;
      height: 32px;
      vertical-align: middle;
    }
  }
}
